body
{
    background-image: url(do.jpg);
    background-size:cover;
    
    background-repeat:no-repeat ;
}
h1
{
    align-items: center;
    text-align: center;
    font-size: 80px;
    margin-top: 100px;
    color:cyan;
}
.ok

{
    align-items: center;
    text-align: center;
    font-size: 40px;
    margin-top: 100px;
    color: blue;
}
    

