h1
{
    align-items: center;
    text-align: center;
    font-size: 70px;
    color: darkturquoise;
}
.ck
{
    align-items: center;
    text-align: center;
    font-size: 30px;
    color:yellow;
}
body
{
    
    background-image: url(love.jpg);
    background-size:cover;
    
    background-repeat:no-repeat ;


}