h1
{
    
     align-items: center;
    text-align: center;
    font-size: 50px;
    margin-top: 100px;
}
.kk
{
    color: rgb(120, 47, 255);
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 90px;
    font-size: 20px;
    
}
.dj

{
    padding: 03px 20px;
    font-size: 2.5rem;
    background-color:pink;

    
}
.ds

{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 180px;
    
}

.adss

{
    background-image: url(boy.jpg);
    background-size:cover;
    
    background-repeat:no-repeat ;
}

.looi
{
    color: brown ;
}
.sik

{
    background-image: url(lock.jpg);
    background-size:cover;
    
    background-repeat:no-repeat ;
}
.mdk
{
    color:chartreuse;
}
